.container {
    width: 100%;
    margin-top: 1rem;
    background: #262421;
    border: 1px solid #3b3834;
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
}

.mainHeader {
    padding: 0.75rem 1rem 0 1rem;
}

.mainTitle {
    font-weight: 800;
    font-size: 0.95rem;
    color: white;
}

.accuracyHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem 1.5rem 1rem;
    border-bottom: 1px solid #3b3834;
}

.accuracyBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    flex: 1;
}

.playerLabel {
    font-size: 0.75rem;
    color: #6b6965;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 800;
}

.accuracyValue {
    font-size: 2rem;
    font-weight: 800;
    color: white;
    font-variant-numeric: tabular-nums;
}

.vsWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vs {
    font-size: 0.8rem;
    font-weight: 800;
    color: #989795;
    background: #312e2b;
    border: 1px solid #3b3834;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.statsGrid {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.statRow, .statRowHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 0;
}

.statRowHeader {
    margin-bottom: 0.5rem;
}

.iconLabel {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    font-size: 0.95rem;
    font-weight: 700;
    flex: 1;
}

.columnLabel {
    font-size: 0.75rem;
    font-weight: 800;
    color: #6b6965;
    letter-spacing: 0.5px;
    flex: 1;
}

.counts {
    display: flex;
    gap: 1.5rem;
    font-family: inherit;
    font-size: 0.95rem;
    font-weight: 800;
    color: white;
    font-variant-numeric: tabular-nums;
}

.countsHeader {
    display: flex;
    gap: 1.5rem;
    font-size: 0.75rem;
    font-weight: 800;
    color: #6b6965;
}

.wCount, .bCount {
    width: 24px;
    text-align: center;
}

.colorBrilliant { color: #26c6da; }
.colorBest { color: #71b533; }
.colorExcellent { color: #4b8b1b; }
.colorGood { color: #779556; }
.colorInaccuracy { color: #ffda33; }
.colorMistake { color: #ffa333; }
.colorBlunder { color: #f73131; }
